/* This file is for your main application css. */
@import "./phoenix.css";

label {
  font-weight: 300;
}

section {
  margin-top: 2rem;
}

.container {
  padding: 2.0rem;
}


.label--required {
  font-size: 1.2rem;
}