<section>
    <h1>Ошибка</h1>
    <p>Что-то пошло не так. Может быть, ссылка, которую дал бот протухла, или ещё какое-нибудь дерьмо случилось. Попробуй попросить у бота новую ссылку, а если не получится — <a href="https://tme.to/igorkamyshev" target="_blank">пиши мне</a>.</p>
</section>