<section>
    <h1>Все получилось</h1>
    <p>Форма отправилась, теперь надо дождаться модерации.  При любом исходу, пришлём уведомление в телеграме. Если прошло много времени, а результата нет — <a href="https://tme.to/igorkamyshev" target="_blank">пиши мне</a>.</p>
</section>